.login-form-container {
  max-width: 700px;
}


.login-form .login-input-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

.login-input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

.login-input-box span.login-details{
  display: block;
  margin-bottom: 5px;
  color: #0e5327; 

}

.login-input-text {
  height: 45px;
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.login-form {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.login-form .login-button{
   margin: 35px 0
 }

.login-button .login-input-text {
   width: 200px;
   border-radius: 5px;
   border: none;
   color: #f9fbf0;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   background-color: #23833a;
  }
 
.login-button:hover{
  opacity: .9;
  transition: all 0.2s ease-out;
  }

  .login-errors, .signup-errors {
    color: rgb(77, 12, 12);
    text-align: center;
  }

.img-container {
  width: 500px;
}

.login-img {
    display: flex;
    width: 100%;
    padding: 25px;
    justify-content: center;
    align-items: center
  }