.inst-container {
    max-width: 70%;
}

.inst-img-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.inst-img {
    width: 40%;
    border-radius: 8px;
    padding-top: 2%;
    padding-bottom: 3%;
}

.inst-subtitle {
font-size: 16pt;
padding-bottom: 1%;
}

.inst-ingredients-container, .inst-steps-container, .inst-tools-container {
    padding-bottom: 30px;
    padding-left: 13%;
    padding-right: 13%;
}

ol > li {
    margin-left: 15px;
    padding-left: 5px;
}

.ingredients, .tools {
    padding-bottom: 1%;
}

.steps {
    padding-bottom: 2%;
}

@media screen and (max-width: 800px) {

    .inst-img-container {
        justify-content: left;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .inst-ingredients-container, .inst-steps-container, .inst-tools-container {
        padding: 0;
        padding-bottom: 20px;
    }

    .ingredients {
    list-style-type: none;
    }

.inst-container {
  background-color: #fff;
  padding: 10px 15px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  background: #f9fbf0;
  border-radius: 5px;
}
}