* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

#login-form-body, #inst-body {
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 7%;
  margin-bottom: 8%;
}

.inst-container, .login-form-container {
  background-color: #fff;
  padding: 25px 30px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  background: #f9fbf0;
  border-radius: 5px;
}

.login-title, .inst-title, .recipes-title, .faves-title {
  font-size: 25px;
  font-weight: 600;
  color: #23833a; 
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}